* {
}

body {
  background-color: #e8dbd3;
}

.meat {
    color: #aa7d7a;
}

#ingredients {
}

#intro img {
}

header,
footer,
main,
div {
    background-color: white;
    border: solid black 1px;
}

a {
    color:#75474a;
}